:root {
  --body-bg-color: white;
  --default-color: #282828;
  --title-color: #0099ff;
  --head-row-bg-color: #c0c;
  --messages-table-border-color: #282828;
}
@media (prefers-color-scheme:dark) {
  :root {
    --body-bg-color: #282828;
    --default-color: white;
    --title-color: #00ffff;
    --head-row-bg-color: #808;
    --messages-table-border-color: #eee;
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--body-bg-color);
  color: var(--default-color);
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 8px;
  background-color: var(--body-bg-color)
}
.header-inner {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
}
header .notice {
  position: fixed;
  width: 300px;
  right: 8px;
  top: 8px;
}
header .notice ul{
  margin: 0;
  padding-left: 1rem;
}
header .notice-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .notice-title h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 150%;
}
#notice-close {
  background-color: rgb(0,0,0,0);
  color: inherit;
  border: 0;
  cursor: pointer;
}
#messages {
  padding: 8px;
}
#messages > div {
  width: fit-content;
  padding-left: 1rem;
  margin-bottom: 0.25rem;
}
#messages > div.info {
  padding-right: 0.5rem;
  background-color: rgb(0, 255, 0, 0.5);
}
#messages > div.error {
  padding: 0;
  margin-left: 1rem;
  background-color: rgb(255, 0, 0, 0.5);
}
#messages > div.title {
  padding: 0;
  margin-left: 1rem;
  font-size: 133.33333%;
  font-weight: bold;
  color: var(--title-color);
}
#messages > div.emphasis {
  font-weight: bold;
}
#messages > div.title::before {
  content: "■ "
}
#messages > .table {
  padding: 2px;
  border: 1px solid var(--messages-table-border-color);
  margin-left: 1rem;
  margin-bottom: 2px;
}
.row {
  display: flex;
}
.row.model {
  opacity: 0.5;
}
.head .row {
  color: white;
  background-color: var(--head-row-bg-color);
}
.col {
  width: 100px;
  padding: 2px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.col:first-child {
  width: 400px;
}
.col.em {
  background-color: #f00;
}
/*
@media (prefers-color-scheme:dark) {
  body, header {
    background-color: #282828;
    color: white;
  }
  .head .row {
    background-color: #808;
  }
  #messages > .table {
    border: 1px solid #eee;
  }
}
*/